body{
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
}

.banner{
  background-image:url(https://source.unsplash.com/random/1000x500);
  padding:120px 0;
  background-size:cover;
  text-align:left;
  color:white;
}

.banner p{
  font-size: 30px;
  font-style:italic;
  font-weight: lighter;
   color:#A0A0A0;
}

h1,h3,p{
  color:#A0A0A0;
}

h1,h2{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
}

h2{
  font-weight: normal;
}

div{
  display:block;
}

.container{
  width: 700px;
  margin:50px auto;
}

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media(max-width:992px){
  .container{
    width: 700px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}

a{
text-decoration:none;
}

a:hover{
  background-color: darkgreen;
  background-image: none;
  /* i didn't user background-image to overwrite the color,so background-color not display */
}

.link-medium{
  background-image:linear-gradient(to bottom,rgb(116, 180, 167),rgba(233,253,240,1));
  color:#A0A0A0;
  font-weight:lighter;
  font-size:25px;
  font-style:italic;
}
